# Copyright 2026 Morse Micro
#
# SPDX-License-Identifier: Apache-2.0

menu "HaLow iperf Example Configuration"

config WIFI_SSID
	string "Wi-Fi SSID"
	default "MorseMicro"

config WIFI_PSK
	string "Wi-Fi Password"
	default "12345678"

endmenu
