# Copyright 2026 Morse Micro
#
# SPDX-License-Identifier: Apache-2.0

menu "HaLow dual_if Example Configuration"

config HALOW_SSID
	string "Wi-Fi SSID"
	default "MorseMicro"

config HALOW_PSK
	string "Wi-Fi Password"
	default "12345678"

endmenu
