# BOARD: Waveshare ESP32P4 Dev Kit
# HAT: Morse Micro MMECH06 MM6108

# Pin configuration
CONFIG_MM_RESET_N=24
CONFIG_MM_WAKE=23
CONFIG_MM_BUSY=32
CONFIG_MM_SPI_SCK=0
CONFIG_MM_SPI_MOSI=3
CONFIG_MM_SPI_MISO=2
CONFIG_MM_SPI_CS=36
CONFIG_MM_SPI_IRQ=1

# Morse Micro chip configuration
CONFIG_MM_BCF_FILE="bcf_mf08651_us.bin"
CONFIG_MM_CHIP_MM6108=y
