# BOARD: Seeed XIAO ESP32S3
# HAT: Seeed XIAO WM6108

# Pin configuration
CONFIG_MM_RESET_N=1
CONFIG_MM_WAKE=2
CONFIG_MM_BUSY=5
CONFIG_MM_SPI_SCK=7
CONFIG_MM_SPI_MOSI=9
CONFIG_MM_SPI_MISO=8
CONFIG_MM_SPI_CS=4
CONFIG_MM_SPI_IRQ=3

# Morse Micro chip configuration
CONFIG_MM_BCF_FILE="bcf_fgh100mhaamd.mbin"
CONFIG_MM_FW_FILE="mm6108.mbin"
CONFIG_MM_CHIP_MM6108=y
