# BOARD: Seeed XIAO ESP32C5
# HAT: Seeed XIAO WM6108

# Pin configuration
CONFIG_MM_RESET_N=1
CONFIG_MM_WAKE=3
CONFIG_MM_BUSY=23
CONFIG_MM_SPI_SCK=8
CONFIG_MM_SPI_MOSI=10
CONFIG_MM_SPI_MISO=9
CONFIG_MM_SPI_CS=7
CONFIG_MM_SPI_IRQ=25

# Morse Micro chip configuration
CONFIG_MM_BCF_FILE="bcf_fgh100mhaamd.bin"
CONFIG_MM_CHIP_MM6108=y
